.page-header {
  background: #009ddc;
  height: 90px;
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}
#Logo {
  margin-left: 15px;
}
#Logo > img {
  width: 180px;
}
#Links {
  display: flex;
}

#Links a {
  color: white;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
}
